{
  "extends": "airbnb-base",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true,
      "classes": true,
      "jsx": true
    }
  },
  "plugins": [
    "react",
    "import",
    "jsx-a11y"
  ],
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "rules": {
    "max-params": ["error", 3],
    "no-confusing-arrow": 0,
    "arrow-body-style": 0,
    "global-require": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prop-types": 2,
    "react/forbid-prop-types": 0,
    "react/prefer-stateless-function": 1,
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true, "optionalDependencies": false, "peerDependencies": false}],
    "jsx-a11y/no-static-element-interactions": 1,
    "linebreak-style": 0,
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error"
  }
}
