body{
  font-family: sans-serif;
  font-size: 14px;
  padding-top: 65px;
}
.well.img-container{
  >div{
    display: inline-block;
    margin-right: 15px;
    box-shadow: 1px 2px 2px #CCC;
    padding: 5px;
    border-radius:2px;
    font-size: 10px;
  }
  .small-img {
    width: 24px;
    height: 30px;
    background-image: url('../static/img/logo.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 10px;
  }

  .big-img {
    width: 100px;
    height: 100px;
    background-image: url('../static/img/1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 10px;
  }

  .svg-img {
    width: 50px;
    height: 50px;
    background-image: url('../static/img/loader.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 10px;
  }
}
ul{
  list-style: none;
  padding: 0;
  li{
    margin-bottom: 5px;
  }
  .thumbnail{
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0 5px 0 0;
  }
}
